

body {
  background-color: #DDA0DD;
}


.navbar-brand {
  color: #720e9e;
  font-family: 'Times New Roman', Times, serif;
  font-size: 35px;

}

.enunciado {
  padding-left: 10px;
  font-size: 25px;
  color: blueviolet;
}

.card-container {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  justify-content: center;
  width: 100%;
  gap: 20px;
  
}

.imagenes{
  width: 250px;
  height: 230px;
}

.titulo-card{
  text-align: center;
  color: #720e9e;
}

.description-card {
  align-content: center;
}

.button-card {
 text-align: center;
  background-color: plum;
  color: black;
 margin-left: 80px;
 margin-bottom: -10px;
 
}

.titulo-detalle {
  color: black;
  text-align: justify;
  font-size: 35px;
 
}


.imagen-carrito {
  width: 200px;
  height: 200px;
  border-radius: 5px ;
  margin-top: 10px;

 
}

.navCarrito {
  padding-left: 800px;
  
}

.container-fluid{
  background-color: #D8BFD8;
}

.botonVaciarCarrito {
  background-color: #720e9e;
  color: white;
  margin-left: 30px;
  margin-bottom: 15px;
  font-size: 30px;
  border-radius: 5px ;
  
}

.botonEliminarProducto {
  background-color: #720e9e ;
  color: white;
  width: 200px;
  height: 50px;
  margin-bottom: 10px;
  border-radius: 5px ;
}

.listaDeProductos{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-gap: 10px;
  
}

.tituloCarro{
  text-align: center;
  color: #720e9e;
  font-size: 50px;
}

.parrafoCarritoVacio{
  color: #720e9e;
  font-size: 50px;
}