

body {
  background-color: burlywood;
}

.iconoCar {
  padding-left: 900px;
}

.navbar-brand {
  color: brown;
  font-family: 'Times New Roman', Times, serif;
  font-size: 35px;

}

.enunciado {
  padding-left: 10px;
  font-size: 25px;
  color: blueviolet;
}